/Users/ewonjin/Desktop/4-1/캡스톤디자인2/파이썬[[:space:]]파일/가중치 filter=lfs diff=lfs merge=lfs -text
DenseNet121_Data[[:space:]]Augmentation.pth filter=lfs diff=lfs merge=lfs -text
AI_Voice_Detector_Korean_v3.pth filter=lfs diff=lfs merge=lfs -text
